langgraph
langchain
pillow==11.2.1
streamlit
dotenv
langchain-community
python-dotenv
huggingface-hub
langchain-openai
langchain_mistralai
langchain-google-genai
boto3
torch
transformers
torch
huggingface_hub
bert-score 
rouge-score 
nltk
seaborn
requests
matplotlib